/* Tailwind.css init*/
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2e94b9;
  border-radius: 4px;
  margin: 8px;
}
